<h1>Activity Inserted</h1>
<p>Name: {{activity.name}}</p>
<p>City: {{activity.city}}</p>
<p>Age Requirement: {{activity.ageRequirement}}</p>
<p>Max Group Amount: {{activity.macGroup}}</p>
<p>Dress Code: {{activity.dressCode}}</p>