<h2>Age Restricted Activities</h2>
    <table>
        <thead>
            <tr>
                <td>Name</td><td>City</td><td>Age Requirement</td><td>Max Group</td><td>Dres Code</td>
            </tr>
        </thead>
        {{#each activ}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.city}}</td>
                <td>{{this.ageRequirement}}</td>
                <td>{{this.maxGroupCount}}</td>
                <td>{{this.dressCode}}</td>
            </tr>
        {{/each}}
    </table>